<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.thymeleaf.org" >
<head>
	<title>DENY SHOP</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Colo Shop Template">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" th:href="@{/cart/main.css}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<head th:replace="/web/fragments :: head">
</head>

<body>
	<!-- Header -->
	<div th:replace="/web/fragments :: header"></div>
	<div style="margin-top: 80px">
		<section class="h-100 h-custom" style="background-color: #d2c9ff;">
		  <div class="container py-5 h-100">
		    <div class="row d-flex justify-content-center align-items-center h-100">
		      <div class="col-12">
		        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
		          <div class="card-body p-0">
		            <div class="row g-0">
		              <div class="col-lg-8">
		                <div class="p-5">
		                  <div class="d-flex justify-content-between align-items-center mb-5" style="margin-top: 70px">
		                    <h2 class="fw-bold mb-0 text-black">Giỏ hàng</h2>
		                    <div th:if = "${check == null}"><h6 class="mb-0 text-muted" th:text="${cart.totalItems} + ' items'"></h6></div>
		                  </div>
		                  <div th:if = "${check}" class="text-center alert-warning">
		                  	<p th:text="${check}"></p>
		                  </div>
		                  <hr class="my-4">
		                  <div th:if = "${check == null}">
			                  <div th:each="item :${list}" class="row mb-5 d-flex justify-content-between align-items-center">
			                    <div class="col-md-2 col-lg-2 col-xl-2">
			                    	<img th:src="@{'/getimage/'+${item.sanPham.img}}" class="img-fluid rounded-3" width="200" height="200" alt="Cotton T-shirt">
			                    </div>
			                    <div class="col-md-2 col-lg-2 col-xl-2">
			                    	<h6 class="text-black mb-0" th:text="${item.sanPham.tenSanPham}"></h6>
			                    </div>
			                    
			                    <form th:action="@{/update-cart}" method="post" onsubmit="return confirm('Bạn có chắc chắn muốn sửa giỏ hàng?');">
			                    	<input type="hidden" name="id" th:value="${item.sanPham.id}"></input>
				                    <div class="col-md-1 col-lg-3 col-xl-4 d-flex">
				                    	<input type="number" name="quantity" size="1" min="0" step="1" class="c-input-text qty text" th:value="${item.quantity}" style="text-align: center"></input>
				                    </div>
				                    <div class="col-md-3 col-lg-2 col-xl-3 offset-lg-1">
				                    	<h6 class="mb-0" th:text="${item.totalPrice}"></h6>
				                    </div>
				                    <div class="col-md-3 col-lg-1 col-xl-2 text-end">
				                    	<button type="submit" name="action" value="update" title="Update" class="btn btn-primary">
				                    		Cập nhật
				                    	</button>
				                    </div>
				                    <div class="col-md-3 col-lg-1 col-xl-2 text-end">
				                    	<button type="submit" name="action" value="delete" title="Delete" class="btn btn-warning">
				                    		Xóa
				                    	</button>
				                    </div>
			                    </form>
			                  </div>
							</div>
		                  <div th:if = "${check == null}"><hr class="my-4"></div>
		
		                  <div class="pt-5">
		                    <h6 class="mb-0"><a th:href="@{/trang-chu}" class="text-body"><i
		                          class="fas fa-long-arrow-alt-left me-2"></i>Quay lại</a></h6>
		                  </div>
		                </div>
		              </div>
		              <div class="col-lg-4 bg-grey">
		                <div class="p-5" style="margin-top: 70px">
		                  <h3 class="fw-bold mb-5 mt-2 pt-1">Thanh toán</h3>
		                  <hr class="my-4">
		                  <div class="d-flex justify-content-between mb-4">
		                    <div th:if = "${check == null}"><h5 class="text-uppercase" th:text="${cart.totalItems} + ' items'"></h5></div>
		                  </div>
		                  
		                  <div class="mb-3">
		                      <label th:text="'Ngày: ' + ${today}" class="text-uppercase"></label>
		                    </div>
		                    
						<form th:action="@{/add-order}" method="post" onsubmit="return confirm('Bạn có chắc chắn muốn đặt hàng?');">
			                  <div class="mb-5">
			                    <div class="form-outline">
			                      <input type="text" id="phoneNumber" name="phoneNumber"  class="form-control form-control-lg" placeholder="Nhập số điện thoại"/>
			                    </div>
			                  </div>
			                  
			                  <div class="mb-5">
			                    <div class="form-outline">
			                      <input type="text" id="address" name="address" class="form-control form-control-lg" placeholder="Nhập địa chỉ nhận hàng"/>
			                    </div>
			                  </div>
							<div th:if = "${checkPhoneAndAddress!=null}"><h5 class="text-uppercase" th:text="${checkPhoneAndAddress}"></h5></div>
			                  <hr class="my-4">
			                  <h5 class="text-uppercase mb-3"> Free Ship</h5>
					
			                  <div class="d-flex justify-content-between mb-5">
			                    <h5 class="text-uppercase">Tổng tiền</h5>
			                   <div th:if = "${check == null}"><h5 th:text="${cart.totalPrice}"></h5></div>
			                  </div>
			
			                  <button type="submit" class="btn btn-dark btn-block btn-lg" data-mdb-ripple-color="dark">Xác nhận mua</button>
						</form>
		                </div>
		              </div>
		            </div>
		          </div>
		        </div>
		      </div>
		    </div>
		  </div>
		</section>
	</div>
	<!-- Footer -->
	<div th:replace="/web/fragments :: footer"></div>
	
	<div th:replace="/web/fragments :: script"></div>
</body>

</html>